<ion-content [class]="classe" [fullscreen]="true">

    


    <div class="botaoIniciar" *ngIf="telaLogin == true" (click)="iniciarPesquisa()">
        <img src="../../assets/imagens/login/start.png">
    </div>
    <div class="botaoWorld" (click)="pegadasMundiais()" *ngIf="telaLogin == true">
        <img src="../../assets/imagens/adcionais/world.png">
    </div>
    <div class="botaoDuvida" (click)="tirarDuvidas()" *ngIf="telaLogin == true">
        <img src="../../assets/imagens/adcionais/duvida.png">
    </div>


    <div class="botaoFechar" (click)="limparDados()" *ngIf="telaLogin == false && telaFinal == false">
        <img src="../../assets/imagens/adcionais/fechar.png">
    </div>

    <ion-list class="centralPerguntas" *ngIf="telaLogin == false && telaFinal == false && classe !='duvida' && classe!= 'mundo'">

        <ion-item *ngIf="form[0].nome" [title]="form[0].nome" color="transparent" lines="none" (click)="check(form[0])">
            <ion-label color="light" style="font-size: small;"><b [innerHTML]="form[0].nome"></b></ion-label>
            <ion-checkbox color="light" slot="start" [(ngModel)]="form[0].isChecked" [disabled]="!form[0].isChecked && checkeds === limit"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="form[1].nome" [title]="form[1].nome" color="transparent" lines="none" (click)="check(form[1])">
            <ion-label color="light" style="font-size: small;"><b [innerHTML]="form[1].nome"></b></ion-label>
            <ion-checkbox color="light" slot="start" [(ngModel)]="form[1].isChecked" [disabled]="!form[1].isChecked && checkeds === limit"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="form[2].nome" [title]="form[2].nome" color="transparent" lines="none" (click)="check(form[2])">
            <ion-label color="light" style="font-size: small;"><b [innerHTML]="form[2].nome"></b></ion-label>
            <ion-checkbox color="light" slot="start" [(ngModel)]="form[2].isChecked" [disabled]="!form[2].isChecked && checkeds === limit"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="form[3].nome" [title]="form[3].nome" color=transparent lines="none" (click)="check(form[3])">
            <ion-label color="light" style="font-size: small;"><b [innerHTML]="form[3].nome"></b></ion-label>
            <ion-checkbox color="light" slot="start" [(ngModel)]="form[3].isChecked" [disabled]="!form[3].isChecked && checkeds === limit"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="form[4].nome" [title]="form[4].nome" color=transparent lines="none" (click)="check(form[4])">
            <ion-label color="light" style="font-size: small;"><b [innerHTML]="form[4].nome"></b></ion-label>
            <ion-checkbox color="light" slot="start" [(ngModel)]="form[4].isChecked" [disabled]="!form[4].isChecked && checkeds === limit"></ion-checkbox>
        </ion-item>

        <p (click)="proximo()" style="cursor: pointer;">
            <img width="60px" height="60px" src="../../assets/imagens/adcionais/avancar.png">
        </p>
    </ion-list>


    <div *ngIf="telaFinal == true"  #screen id="table" >
        <ion-grid id="emprimir" style="background-color: #004179 !important;">
            <ion-row>
                <ion-col size="12">
                    <p style="color: #ffff; font-family: snap; text-align: center; font-size: 20px;">
                        CHEGAMOS AO FINAL DA PESQUISA
                    </p>
                    <br>
                    <p style="color: #ffff; text-align: center; font-size: 20px;">
                        SEU RESULTADO FOI:
                        <br><br> {{valorPegada}}
                    </p>
                    <p style="text-align: center;color: #ffff; text-align: center; font-size: 16px;">
                        Em quantitativo, se todos vivessem como você, precisaria-mos de {{valor}} planetas terra.
                    </p>
                    <p style="text-align: center;">
                        <img width="60%" src="../../assets/imagens/conclusao/terra.png" />
                    </p>
                    <br>
                    <p style="color: #ffff; text-align: justify; font-size: 12px;">
                        Este teste foi elaborado pela <b>Redefining Progress</b>, uma entidade conservacionista não-governamental (www.myfooprint.org).
                        <br>Ele calcula a sua "Pegada Ecológica", ou seja, a área de terra necessária para atender as suas necessidades, fazendo uma estimativa ou quantidade de recursos necessarios para produzir os bens e serviços que você consome e absorver
                        os residuos que você produz.
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid  *ngIf="telaFinal == true" style="background-color: #004179 !important;">
        <ion-row>
            <ion-col size="4">
                <!--
                <img width="65px" height="65px" src="../../assets/imagens/adcionais/world.png" />
              -->
            </ion-col>
            <ion-col size="4" style="text-align: center;">
                <img width="65px" height="65px" (click)="zerar()" src="../../assets/imagens/adcionais/inicio.png" />
            </ion-col>
            <ion-col size="4" style="text-align: center;">
                <img width="65px" height="65px" (click)="downloadImage()" src="../../assets/imagens/adcionais/print.png" />
            </ion-col>
        </ion-row>
    </ion-grid>

    <div style="width: 1px;height: 1px;" id="download">
        <img #canvas>
        <a #downloadLink></a>
      </div>


</ion-content>